<!doctype html>
<html>
    <head>
        <title>PyHumidity Web</title>
        <script type="text/javascript"src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/1.3.6/socket.io.min.js"></script>
    </head>
    <body>
        <h1>PyHumidity Web</h1>
        <h2>Statistic</h2>
        <table>
            <tr>
                <td>Timespan : </td>
                <td>
                    <select name="time" id="time" onchange="GetData();">
                        <option value="-1">All datas</option>
                        <option value="20">1 min</option>
                        <option value="100">5 min</option>
                        <option value="300">15 min</option>
                        <option value="600">30 min</option>
                        <option value="900">45 min</option>
                        <option value="1200" selected>1 h</option>
                        <option value="3600">3 h</option>
                        <option value="7200">6 h</option>
                        <option value="10800">9 h</option>
                        <option value="14400">12 h</option>
                        <option value="28800">24 h</option>
                    </select>
                </td>
                <td><button onclick="GetData();">Refresh</button></td>
            </tr>
            <tr>
                <td colspan="3"><a href="get_csv/"><button>Download CSV</button></a></td>
            </tr>
        </table>
        <div>
            <canvas id="humidityChart"></canvas>
        </div>
          
          <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
          <script>
            var chart = undefined;
            function HttpRequest(url, method="GET")
            {
                const promise = new Promise((resolve, reject) => 
                {
                    let query = new XMLHttpRequest();
                    query.open(method, url, true);
                    query.onload = () =>
                    {
                        if(query.status >= 400) {
                            console.log(`${query} has failed`);
                            reject(query);
                        }
                        else{
                            resolve(query); 
                        }
                    }
                    query.send();
                });
                return promise;
            }
            async function GetData()
            {
                var timespan = document.getElementById("time").value;
                var data = await Promise.all([new HttpRequest(`humidity/${document.getElementById("time").value}`)]);
                var temp = JSON.parse(data[0].responseText);
                var date = [];
                var tmp = [];
                var hmd = [];
                temp.forEach((t) => {
                    hmd.push(t["Humidity"]);
                    tmp.push(t["Temperature"]);
                    date.push(new Date(t["Timestamp"].toLocaleString('en-US', { timeZone: 'UTC' })));
                });
                const ctx = document.getElementById('humidityChart');
                if(chart != undefined){
                    chart.destroy();
                }
                chart = new Chart(ctx,
                {
                    type: 'line',
                    data: {
                        labels: date,
                        datasets: [
                            {
                                label: 'Humidity',
                                data: hmd,
                                borderWidth: 1
                            },
                            {
                                label: 'Temperature',
                                data: tmp,
                                borderWidth: 1
                            },
                        ]
                    },
                    options: {
                        scales: {
                        y: {
                            beginAtZero: true
                        }
                        }
                    },
                });
            }
            console.log(chart);
            GetData();
            
          </script>
        <h2>Latest humidity values</h2>
        <table border="1">
            <thead>
                <tr>
                    <th>Datetime (UTC)</th>
                    <th>Humidity (%)</th>
                    <th>Temperature °C</th>
                </tr>
            </thead>
            <tbody>
                {% for data in datas %}
                    <tr style="color:{{ 'red' if data.humidity > 75 else 'black'}}; text-align: center;">
                    <td>{{ data.datetime }}</td>
                    <td>{{ data.humidity }}</td>
                    <td>{{ data.temperature }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </body>
</html>